@charset"utf-8";


input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;

body{
    margin:0;
    background-image:url("image/background.jpg");
    background-size:auto;
    background-position:right center;}